body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f8f6; 
  color: #4b4a47;
  margin: 0;
  padding: 0;
}

header {
  background-color: #9bc6c1; 
  padding: 25px;
  text-align: center;
  color: #ffffff;
}

.titulo {
  font-size: 2.3em;
  font-weight: bold;
  margin-bottom: 5px;
}


.informacion, .academico, .otras-paginas {
  margin: 25px auto;
  max-width: 800px;
  padding: 25px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #678d85;
  font-size: 1.8em;
  margin-bottom: 10px;
}


ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  font-size: 1.2em;
  margin: 8px 0;
}

li strong {
  color: #86a39f;
}


a {
  font-weight: bold;
  color: #6ba0b6; 
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

hr {
  border: 0;
  height: 1px;
  background-color: #ddd;
  margin: 20px 0;
}

footer {
  text-align: center;
  margin-top: 40px;
  padding: 25px;
  background-color: #d6e4e0; 
  color: #4b4a47;
}

footer a {
  color: #5c8a91;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.agradecimiento {
  font-size: 1.2em;
  margin-bottom: 10px;
}
