*{padding=0px;margin=0px;}
body{height=750px;width:750px;background-color:#4682b4;margin:auto;}
header{height:250px;width:750px;background-color:white;}
nav{height:50px;width:750px;background-color:#6a1b9a;}
main{height:400px;width:750px;background-color:#00008b;}
footer{height:80px;width:750px;background-color:#008b8b;}
#banner{height:250px;width:500px;background-color:purple;float:right;}
#logo{height:125px;width:250px;background-color:pink;}
#buscador{height:125px;width:250px;background-color:red;}
#lado_izquierdo{height:400px;width:150px;background-color:#8673a1;float:left;}
#lado_derecho{height:400px;width:150px;background-color:#bdecb6;float:right;}
img{